<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CocoaWeather.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D2AAC07D0554694100DB518D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D948834E11A0CFB1007BC8E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D948835B11A0CFE9007BC8E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D948840B11A0D547007BC8E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D992DDCA141EC7DA009A98B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
